django/bp/node_modules
old_files
web/distictsCzechiaLow.json
web/twCounty2010.geo.json
django/bp/bp/__pycache__
django/bp/covid/__pycache__
django/bp/exec/__pycache__
django/bp/package-lock.json
django/bp/package.json
