{% load static %}

<!doctype html>
<html>

<head>
    <title>Vizualizace COVID-19</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2020.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://kit.fontawesome.com/3dae043195.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins&family=Open Sans' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,150,0,0" />
    <script src = "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel = "stylesheet" href = "https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css">
    {% comment %} <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet"> {% endcomment %}
    {% comment %} <script type="module" src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> {% endcomment %}
    {% comment %} <script type="module" src="{% static 'material/node_modules/material-components-web/index.js' %}"></script> {% endcomment %}
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        new_data = {{ data_covid | safe }};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'data_analysis_types.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'okresy_data.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'core_material.js' %}" charset="utf-8"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'toast.css' %}">
    <script type="text/javascript" src="{% static 'double_range_slider.js' %}" charset="utf-8" defer></script>
    <link href="{% static 'nouislider.css' %}" rel="stylesheet">
    <script src="{% static 'nouislider.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: 'Open Sans'
        }
    </style>
    <style>
        .rectangle {
            height: 15px;
            width: 100%;
            background-color: #555;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(63, 63, 63);
        }
    </style>
    <style>
        html * {
          font-family: 'Open Sans', sans-serif;
        }
      </style>
</head>

<body id="outer-page-background" class="w3-light-gray">

    <!-- Welcome window -->
    <div id="splashscreen"
        style="position:absolute;top:0;left:0;bottom:0;width:100%;z-index: 99;height:100%;background-color: #ffffffaf;">
        <div class="w3-card"
            style="position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);opacity: 1;background-color: white;max-width: 800px;">
            <div style="margin:20px;">
                <img src="{% static 'pictures/vsb_long_katedra.png' %}"
                    style="display: block;margin-left: auto;margin-right: auto;width: 60%">
                <h3 class="w3-center">Vizualizace COVID-19 v České republice</h2>
                <hr>
                <p class="w3-center">
                    Vítejte ve webové aplikaci vizualizující onemocnění COVID-19 v České republice. Postup práce s
                    aplikací:
                </p>
                <div
                    style="padding-top:10px;padding-bottom:10px;margin-left:20px;margin-right:20px;background-color:rgb(245, 245, 245)">
                    <ol type="1">
                        <style>
                            ol>li::marker {
                                font-weight: bold;
                            }
                        </style>
                        <li style="margin-top: 5px;">V pravém horním rohu zvolte dataset - infekce, úmrtí, očkování nebo testování</li>
                        <li style="margin-top: 5px;">V levém horním okně zvolte časové okno a potvrďte výběr</li>
                        <li style="margin-top: 5px;">Po potvrzení časového okna si můžete data přizpůsobit (škálovat, přepočty)
                        </li>
                        <li style="margin-top: 20px; color: rgb(100, 100, 100)">(volitelné) Kliknutím na okres zobrazíte
                            přesná čísla, v pravém dolním rohu zobrazíte graf vyobrazující zvolená data pro daný okres a časové okno</li>
                        <li style="margin-top: 5px;color: rgb(100, 100, 100)">(volitelné) V pravém horním rohu můžete
                            spustit režim "Obraz v obraze", který vám umožní porovnávat data v reálném čase s jinými
                            datasety</li>
                    </ol>
                </div>
                <p style="margin-left:20px;margin-right:20px;margin-top:15px">
                    Aktuálně můžete data aktualizovat jednou za minutu, aby se zamezilo zatížení serveru. Stahování dat
                    závisí na rychlosti vašeho internetového připojení.
                </p>
                <p
                    style="margin-left:20px;margin-right:20px;margin-top:15px;color: red; text-align: center; font-weight: bold">
                    MZČR data neustále aktualizuje a zpětně opravuje, takže může docházet k nepřesnostem
                </p>
                <div>
                    <table style="width:100%">
                        <tr>
                            <td style="width:80%">
                                <button class="w3-button w3-block w3-light-gray w3-center"
                                style="margin-top:10px;font-weight: bolder;" onclick="hideSplashScreen()">Přejít k
                                aplikaci</button>
                            </td>
                            <td style="width:20%">
                                <button class="w3-button w3-block w3-light-gray w3-center"
                                style="margin-top:10px;" onclick="showContactScreen()">Kontakt</button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- Contact and author window -->
    <div id="contactscreen"
        style="position:absolute;top:0;left:0;bottom:0;width:100%;z-index: 99;height:100%;background-color: #ffffffaf;display:none">
        <div class="w3-card"
            style="position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);opacity: 1;background-color: white;max-width: 600px;">
            <div style="margin:20px;">
                {% comment %} <img src="{% static 'pictures/vsb_long_katedra.png' %}"
                    style="display: block;margin-left: auto;margin-right: auto;width: 60%"> {% endcomment %}
                <h3 class="w3-center">Autor a kontakt</h2>
                <hr>
                <p class="w3-center">
                    Aplikaci vytvořil Radomír Čech (VŠB - Technická univerzita Ostrava, Fakulta elektrotechniky a informatiky). V případě dotazů nebo technických záležitostí mě neváhejte kontaktovat na emailové adrese <u><a href="mailto: radomir.cech.st@vsb.cz" style="color:blue">radomir.cech.st@vsb.cz</a></u>.
                </p>
                
                <div>
                    <button class="w3-button w3-block w3-light-gray w3-center"
                        style="margin-top:20px;font-weight: bolder;" onclick="hideContactScreen()">Zavřít</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Top container -->
    <!-- <div id="topbar" class="w3-bar w3-top w3-white w3-large w3-card" style="z-index:4;width:100%;height: 53px">
        <table style="width:100%">
            <tr>
                <td style="width:2%;padding-top:0px;padding-left: 10px">
                    <img src="{% static 'pictures/vsb_long.png' %}" style="max-height: 53px">
                </td>
                <td id="map_title" style="width:41%;padding-left: 5px;font-weight:bold">Vizualizace COVID-19 v
                    České republice</td>
                <td style="width:11%;padding-right: 20px;padding-left: 20px;text-align: right;">
                    <div id="nakazeni-analyze" color="w3-orange" class="w3-card w3-center" style="cursor: pointer;min-height:27px;padding-top:3px"
                        onclick="selectAnalysis('nakazeni-analyze')">Infekce</div>
                </td>
                <td style="width:11%;padding-right: 20px;text-align: right;">
                    <div id="umrti-analyze" color="w3-grey" class="w3-card w3-center" style="cursor: pointer;min-height:27px;padding-top:3px"
                        onclick="selectAnalysis('umrti-analyze')">Úmrtí</div>
                </td>
                <td valign="center" style="width:11%;padding-right: 20px;text-align: right;">
                    <div id="ockovani-analyze" color="w3-green" class="w3-card w3-center" style="cursor: pointer;min-height:27px;padding-top:3px"
                        onclick="selectAnalysis('ockovani-analyze')">Očkování</div>
                </td>
                <td valign="center" style="width:11%;padding-right: 20px;text-align: right">
                    <div id="testovani-analyze" color="w3-deep-purple" class="w3-card w3-center"
                        style="cursor: pointer;min-height:27px;padding-top:3px" onclick="selectAnalysis('testovani-analyze')">PCR testy</div>
                </td>
                <td valign="center" style="width:3%;padding-right: 20px;text-align: right">
                    <div color="w3-deep-purple" class="w3-card w3-center w3-blue"
                        style="cursor: pointer;max-height:27px" onclick="showSplashScreen()">
                        <span class="material-symbols-outlined" style="margin-top:2px">
                            info
                            </span>
                    </div>
                </td>
            </tr>
        </table>


    </div> -->

    <div id="topbar" class="w3-bar w3-top w3-white w3-large w3-card w3-round" style="z-index:4;width:calc(100% - 40px);height: 53px;margin-top:10px;margin-right:20px;margin-left:20px">
        <table style="width:100%" cellspacing="3px">
            <tr>
                <td style="width:2%;padding-top:0px;padding-left: 10px">
                    <img src="{% static 'pictures/vsb_long.png' %}" style="max-height: 53px">
                </td>
                <td id="map_title" style="padding-left: 5px;font-weight:bold;">Vizualizace COVID-19 v
                    České republice
                </td>
                <td style="padding-right: 20px;padding-left: 20px;text-align: right;width:160px;max-width: 160px">
                    <div id="nakazeni-analyze" color="w3-orange" class="w3-center" style="cursor: pointer;min-height:54px;padding-top:17px"
                        onclick="selectAnalysis('nakazeni-analyze')">Infekce</div>
                </td>
                <td style="padding-right: 20px;text-align: right;width:140px;max-width: 140px">
                    <div id="umrti-analyze" color="w3-grey" class="w3-center" style="cursor: pointer;min-height:54px;padding-top:17px"
                        onclick="selectAnalysis('umrti-analyze')">Úmrtí</div>
                </td>
                <td valign="center" style="padding-right: 20px;text-align: right;width:160px;max-width: 160px;">
                    <div id="ockovani-analyze" color="w3-green" class="w3-center" style="cursor: pointer;min-height:54px;padding-top:17px"
                        onclick="selectAnalysis('ockovani-analyze')">Očkování</div>
                </td>
                <td valign="center" style="padding-right: 20px;text-align: right;width:160px;max-width: 160px;">
                    <div id="testovani-analyze" color="w3-deep-purple" class="w3-center"
                        style="cursor: pointer;min-height:54px;padding-top:17px" onclick="selectAnalysis('testovani-analyze')">PCR testy</div>
                </td>
                <td valign="center" style="width:60px;padding-right: 20px;text-align: right">
                    <div color="w3-deep-purple" class="w3-card w3-center w3-blue w3-round"
                        style="cursor: pointer;max-height:27px" onclick="showSplashScreen()">
                        <span class="material-symbols-outlined" style="margin-top:2px">
                            info
                            </span>
                    </div>
                </td>
                
            </tr>
        </table>


    </div>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-light-gray" id="page-background">

        <div style="width:100%; height:100%;">
            <div id="div_right_upper_part"
                style="margin-right:10px; right:0; margin-top:80px;margin-bottom:10px;z-index: 1;background-color: rgba(255, 255, 255, 0);overflow: hidden;position: absolute;width:200px;height:fit-content">
                <div class="w3-card w3-round"
                    style="background-color:rgba(255, 255, 255, 1); margin-right: 10px; margin-bottom:10px">
                    <div class="w3-container" style="padding-top:10px;padding-bottom:10px;">
                        <button id="button_right_upper_panel"
                            class="w3-button w3-padding-small w3-ripple w3-small w3-block w3-white w3-center"
                            style="outline: none;height:25px" onclick="showHideRightUpperPanel()">
                            <b>Zobrazit obraz v obraze</b>
                        </button>
                        <div id="right_upper_panel" class="w3-animate-top"
                            style="margin-top:10px;display:none;height:320px;margin-bottom:7px;">
                            <hr>
                            <div>
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:20%">Dataset:</td>
                                        <td style="width:80%">
                                            <select oninput="selectSliderPIPType(this.value)" class="form-control"
                                                id="sel3" style="margin-top:0px">
                                                <option>Infekce</option>
                                                <option>Očkování</option>
                                                <option>Úmrtí</option>
                                                <option>PCR testování</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:20%">Typ dat:</td>
                                        <td style="width:80%">
                                            <select oninput="selectSliderPIPData(this.value)" class="form-control"
                                                id="sel4" style="margin-top:0px">
                                                <option>Nové případy</option>
                                                <option>Nové případy za poslední týden</option>
                                                <option>Nové případy za poslední dva týdny</option>
                                                <option>Nové případy lidí starších 65 let</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <iframe id="iframe_pip" src="/../map_pip"
                                    style="position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:230px; margin-top:100px;border:none; padding:0;pointer-events: none;"
                                    title="Iframe Example" onload="onIframePIPLoad()"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="margin-left:20px; margin-top:80px;margin-bottom:10px;z-index: 1;background-color: rgba(255, 255, 255, 0);overflow: hidden;position: absolute;width:400px;height:fit-content">
                <div class="w3-card w3-round"
                    style="background-color:rgba(255, 255, 255, 1); margin-right: 10px; margin-bottom:10px">
                    {% comment %} https://codepen.io/joosts/pen/rNLdxvK {% endcomment %}
                    <div class="w3-container" style="padding-top:10px;padding-bottom: 10px;">
                        <table style="width:100%">
                            <tr>
                                <td style="width:50%"><button
                                        class="w3-button w3-padding-small w3-ripple w3-small w3-block w3-white w3-center"
                                        style="outline: none;height:25px" onclick="showHideTimeWindow()"><b>Časové
                                            okno</b></button></td>
                                <td style="width:50%"><button
                                        class="w3-button w3-padding-small w3-ripple w3-small w3-block w3-white w3-center"
                                        style="outline: none;height:25px"
                                        onclick="showHideAnimationWindow()"><b>Data a animace</b></button></td>
                            </tr>
                        </table>
                        <!-- <button id="button_left_upper_panel"
                            class="w3-button w3-padding-small w3-ripple w3-small w3-block w3-white w3-center"
                            style="outline: none;height:25px" onclick="showHideLeftUpperPanel()"><b>Skrýt
                                nastavení</b></button> -->
                        <!-- <div>
                            <table style="width:100%;margin-top:10px" class="w3-small">
                                <tr>
                                    <td id="analysis-text-name" style="text-align:center;width: 50%;display:none"><b>Dataset:</b> - </td>
                                </tr>
                            </table>
                        </div> -->
                        <div id="time_window" class="w3-animate-top" style="padding-bottom:5px;">
                            <div class="w3-center">
                                <hr>
                                <label for="sel1" style="margin-bottom:20px"><strong>Nastavení časového
                                        okna</strong></label>
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:60%;text-align:left;">Data dostupná od:</td>
                                        <td id="analysis-text-datefrom" style="width:40%;text-align:left">zvolte dataset</td>
                                    </tr>
                                    <tr>
                                        <td style="width:60%;text-align: left;padding-top: 10px;">Části časového okna:
                                        </td>
                                        <td style="width:40%;padding-top: 10px;">
                                            <select oninput="selectSliderType(this.value)" class="form-control"
                                                id="sel1" style="margin-top:0px">
                                                <option>Den</option>
                                                <option>Týden</option>
                                                <option>Měsíc</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="values-slider" class="slider-styled"
                                style="margin-right:10px;margin-left:10px;margin-top:20px;margin-bottom:20px">

                            </div>
                            <table width="100%">
                                <tr style="padding-bottom:10px">
                                    <td id="slider-min" style="margin-left:10px;text-align:left;width:33%;"></td>
                                    <td id="slider-value" style="text-align:center;width:33%;">-</td>
                                    <td id="slider-max" style="margin-right:10px;text-align:right;width:33%;"></td>
                                </tr>
                            </table>
                            <div style="margin-top:15px;margin-bottom: 10px;">
                                {% comment %} <input type="checkbox" id="checkerCovidWave" onclick="checkboxCovidWaveClick(this)">
                                <label for="checkerCovidWave"> Zobrazit covidové vlny</label> {% endcomment %}
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:70%;">
                                            Zobrazit covidové vlny
                                        </td>
                                        <td class="w3-right" style="width:30%;text-align:right;margin-right:8px;margin-top:3px;margin-bottom:3px" align="right"> 
                                            <label class = "mdl-switch mdl-js-switch mdl-js-ripple-effect w3-right" 
                                                for = "checkerCovidWave">
                                                <input type = "checkbox" id="checkerCovidWave" onclick="checkboxCovidWaveClick(this)" 
                                                    class = "mdl-switch__input w3-right">
                                            </label>
                                        </td>
                                    </tr>
                                 </table>   
                            </div>
                            <div class="w3-center">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100%;font-size:12px"
                                    onclick="confirmRangeAnalysis()"><b>Potvrdit</b></button>
                            </div>
                        </div>
                        <div id="animation_window" class="w3-animate-top" style="display:none;padding-bottom:5px;">
                            <hr>
                            <label style="text-align:center;width:100%;margin-bottom: 10px;"
                                ><strong>Data</strong></label>
                            <table style="width:100%;margin-bottom:10px">
                                <tr>
                                    <td style="padding-top:10px">
                                        Typ dat:
                                    </td>
                                    <td colspan="3" style="width:75%;padding-top:10px;">
                                        <select oninput="selectSliderData(this.value)" class="form-control" id="sel2">
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table style="width:100%">
                                {% comment %} <tr>
                                    <td colspan="2" style="padding-top:9px">
                                        Škálovat barvy podle:
                                    </td>
                                </tr> {% endcomment %}
                                <tr>
                                    <td style="width:85%;padding-top:10px">
                                        Škálovat podle max. hodnoty v období
                                    </td>
                                    <td class="w3-right" style="width:15%;text-align:right;margin-right:8px;padding-top:10px" align="right"> 
                                        <label class = "mdl-switch mdl-js-switch mdl-js-ripple-effect w3-right" 
                                            for = "checkerChangeMaxValue">
                                            <input type = "checkbox" id="checkerChangeMaxValue" onclick="changeRecalculationMaxValue()" 
                                                class = "mdl-switch__input w3-right">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:85%;padding-top:13px">
                                        Škálovat podle přepočtu na 100 tisíc obyvatel
                                    </td>
                                    <td class="w3-right" style="width:15%;text-align:right;margin-right:8px;padding-top:13px" align="right"> 
                                        <label class = "mdl-switch mdl-js-switch mdl-js-ripple-effect w3-right" 
                                            for = "checkerCovidWave1">
                                            <input type = "checkbox" id="checkerCovidWave1" onclick="changeRecalculation()" 
                                                class = "mdl-switch__input w3-right" checked>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <label style="text-align:center;width:100%;margin-bottom: 10px;">
                                <strong>Animace</strong></label>
                            <table style="width:100%;margin-bottom:10px">
                                <tr>
                                    <td style="width:5%"><button style="width:10px" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                                            onclick="sliderDateChange(-1)">
                                            <i class="material-icons">chevron_left</i></button></td>
                                    <td style="width:90%" class="w3-center">
                                        <input id="slider" class="mdl-slider mdl-js-slider" type="range" min="1" max="30" value="1"
                                            style="width:90%;" oninput="slider.MaterialSlider.change(value)">
                                    </td>
                                    <td style="width:5%"><button
                                            class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                                            onclick="sliderDateChange(1)"><i class="material-icons">chevron_right</i></button></td>
                                </tr>
                            </table>
                            <table style="width:100%">
                                <tr>
                                    <td colspan="2" id="slider_text"
                                        style="width:100%;text-align: center;font-weight: bold">
                                        -
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:75%;padding-top:10px">
                                        Rychlost animace:
                                    </td>
                                    <td style="width:25%;padding-top:5px">
                                        <input onchange="changeAnimationSpeed(this.value)" class="form-control"
                                            type="number" id="quantity" name="quantity" min="1" max="10" value="5"
                                            style="width:100%">
                                    </td>
                                </tr>
                            </table>
                            <table style="width:100%">
                                <tr>
                                    <td style="width:70%;padding-top:10px"><button
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100%;padding-right:5px;font-size:12px"
                                            onclick="handleAnimation()"><b>Spustit animaci</b></button></td>
                                    <td style="width:5%"></td>
                                    <td style="width:25%;padding-top:10px"><button
                                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="font-size:12px"
                                            onclick="stopAnimation()"><b>Zastavit</b></button></td>
                                </tr>
                            </table>
                            <div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
        id="right_bottom_container" style="bottom:0; right:0; margin-right:20px; margin-bottom: 20px;z-index: 1;background-color: rgba(255, 255, 255, 0);overflow: hidden;position: absolute;width:200px;height:auto">
            <div class="w3-card w3-round" style="background-color:rgba(255, 255, 255, 1); margin-bottom:10px;">
                <div class="w3-container" style="padding-top:10px;padding-bottom:10px;">

                <div id="left_bottom_panel_2" class="w3-animate-bottom" style="display:none;background-color:#ffffff99;">
                    <div id="district_chart" style="width:100%;max-height: 400px;max-width: 550px"></div>
                </div>
                <div id="left_bottom_panel_district_text" style="width:100%;text-align:right;padding-right:10px;display:none;font-style:italic;font-size:12px">

                </div>
                <div id="left_bottom_panel_time_window_text" style="width:100%;text-align:right;padding-right:10px;display:none;font-style:italic;font-size:12px;margin-bottom:5px">
                </div>
                <button id="button_left_bottom_panel_2"
                                class="w3-button w3-padding-small w3-ripple w3-small w3-block w3-white w3-center"
                                style="outline: none;height:25px" onclick="showHideLeftBottomPanel2()"><b>Zobrazit
                                    graf</b></button>
                </div>
            </div>
        </div>
        <div
            style="bottom:0; left:0; margin-left:20px; margin-bottom:10px;z-index: 1;background-color: rgba(255, 255, 255, 0);overflow: hidden;position: absolute;width:fit-content;height:fit-content">
            <div class="w3-card w3-round-large" style="background-color:rgba(255, 255, 255, 0.7);margin-bottom:10px;margin-right:5px;padding-top: 13px;padding-bottom:13px">
                <table id="info_table" style="margin-left: 10px; margin-right: 10px;display:block">
                    <!-- <tr>
                        <td id="map_date" style="text-align:left;font-size: x-large;height:50px">Vizualizace
                            COVID-19 dat</td>
                    </tr> -->
                    <tr>
                        <td id="map_info_1" style="text-align:left;font-size: small;height:20px">Zvolte data k
                            vizualizaci (viz. tlačítka výše).</td>
                    </tr>
                    <tr>
                        <td id="map_info_2" style="text-align:left;font-size: small;height:20px">Poté zvolte časové
                            okno a potvrďte.</td>
                    </tr>
                    <tr>
                        <td id="map_info_3" style="text-align:left;font-size: small;height:20px">Vyobrazená data si
                            můžete přizpůsobit v panelu pod časovým oknem.</td>
                    </tr>
                </table>
                <hr id="info_table_separator" style="background-color:rgb(139, 139, 139);height:1px;margin-left: 10px;margin-right: 10px;margin-bottom: 10px;margin-top:10px;visibility:hidden;">
                <table>
                    <tr>
                        <td>
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" style="margin-left:20px"
                                onclick="showHideBottomLeft()"><i id="expand_button_1" class="material-icons">expand_more</i></button>
                        </td>
                        <td style="width:400px;margin-right:15px;height: 20px">                
                            <table style="margin-right:40px;width:100%;">
                            <tr>
                                <td id="scale_min" style="font-weight: bold;text-align:center;width:20%">-</td>
                                <td style="text-align:center;width:60%;">
                                    <div id="scale_rectangle" class="rectangle"></div>
                                </td>
                                <td id="scale_max" style="font-weight: bold; text-align:center;height:20px;width:20%">-</td>
                            </tr>
                            </table>
                        </td>
                        <td id="map_date" style="text-align:center;font-size: 20px;font-weight:bold;min-width:150px;margin-right:10px;border-left: 1px solid black;height: 20px;padding-right:10px;padding-left:10px">1.3.2020</td>
                    </tr>
                </table>
            </div>
        </div>
        <iframe id="iframe" src="/../map"
            style="position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; padding:0;pointer-events: auto;"
            title="Iframe Example" onload="onIframeLoad()"></iframe>
    </div>

    <!-- End page content -->


    </div>
    <div id="snackbar">Some text some message..</div>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>

</body>

</html>